
/.github/
/.idea/
/ActividadEvaluableUT8MVC/.vs/


/ActividadEvaluableUT8MVC/ActividadEvaluableUT8MVC/bin/
/ActividadEvaluableUT8MVC/ActividadEvaluableUT8MVC/obj/

/ActividadEvaluableUT8RazorPages/.vs/
/ActividadEvaluableUT8RazorPages//ActividadEvaluableUT8RazorPages/.vs/
